body {
  font-family: "Cuprum", "Arial", serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f1f5f7;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.main-header-top {
  background-color: #293449;
  margin-bottom: 46px;
}

.mht-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-header-top .index-logo {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  width: 220px;
  text-align: center;
  padding-top: 10px;
  text-align: center;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.index-logo:hover {
  background: #ca2c37;
}

.index-logo:active {
  background: #ba2732;
}

.main-header-top a,
.page-header-search {
  font-size: 17px;
  line-height: 18px;
  display: block;
  color: #ffffff;
}

.page-header-search {
  position: relative;
  width: 270px;
}

.page-header-search:hover,
.page-header-link:hover {
  background-color: #212a3a;
}

.page-header-link:active {
  color: rgba(255, 255, 255, .6);
  background-color: #161d29;
}

.page-header-search:hover::before,
.page-header-link:hover::before {
  opacity: 1;
}

.page-header-link:active::before {
  opacity: .5;
}

.page-header-search input {
  width: 100%;
  height: 42px;
  font-family: "Cuprum", "Arial", serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
  font: inherit;
  background-color: #293449;
  padding-left: 48px;
}

.page-header-search label {
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  font-size: 0;
  background-image: url("../img/icon-search.png");
  background-repeat: no-repeat;
  opacity: .3;
}

.page-header-search label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 17px;
  height: 17px;
  background: url("../img/icon-search.png") no-repeat;
  opacity: 0.3;
}

.page-header-search input:hover {
  background-color: #212a3a;
}

.page-header-search input:focus {
  background-color: #ffffff;
}

.page-header-search input:hover + label {
  opacity: 1;
}

.page-header-search input:focus + label {
  background-image: url("../img/icon-search-f.png");
  opacity: 1;
}

.page-header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.page-header-search input:-ms-input-placeholder {
  color: #ffffff;
}

.page-header-search input::placeholder {
  color: #ffffff;
}

.page-header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.page-header-search input::-moz-placeholder {
  color: #ffffff;
}

.page-header-search input:-ms-input-placeholder {
  color: #ffffff;
}

.main-header-top a {
  text-decoration: none;
}

.bookmark,
.basket {
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding-top: 12px;
  padding-bottom: 13px;
}

.bookmark {
  padding-left: 15px;
}

.main-header-top .bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: url("../img/icon-bookmark.png") no-repeat;
  opacity: 0.3;
}

.main-header-top .bookmark:hover::before {
  opacity: 1.0;
}

.basket {
  padding-left: 22px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  width: 17px;
  height: 17px;
  background: url("../img/icon-basket.png") no-repeat;
  opacity: 0.3;
}

.basket:hover::before {
  opacity: 1.0;
}

.order {
  width: 150px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 13px;
  background-color: #6db254;
}

.bookmark:hover,
.basket:hover,
.main-header-top input:hover {
  background: #212a3a;
}

.main-header-top input:focus {
  background: #ffffff;
  border: none;
}

.bookmark:active,
.basket:active {
  opacity: 0.6;
  background: #161d29;
}

.order:hover {
  background: #5fbb2d;
}

.order:active {
  opacity: 0.51;
  background: #518534;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-center {
  display: flex;
}

.descript {
  width: 247px;
  font-family: "Cuprum", "Arial", serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ff5357;
  padding-bottom: 11px;
  padding-left: 53px;
  margin-right: 10px;
}

.descript p {
  margin-top: 2px;
}

.contact {
  position: relative;
  width: 270px;
  font-family: "Cuprum", "Arial", serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #3d546e;
  padding-left: 10px;
  margin-left: 0px;
  margin-right: 25px;
  margin-bottom: 24px;
}

.contact .phone {
  font-size: 21px;
  padding-left: 71px;
  padding-top: 7px;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fb463c;
  border: 3px solid #ffffff;
}

.contact .phone::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;
  width: 19px;
  height: 19px;
  background: url("../img/icon-phone.png") no-repeat;
}

.contact p {
  padding-left: 10px;
  margin-top: 3px;
  margin-bottom: 14px;
}

.user-block {
  display: flex;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 0px;
  margin-top: 10px;
  margin-left: 10px;
}

.user-block .login,
.user-block .register {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-right: 25px;
}

.user-block .login {
  position: relative;
  padding-left: 48px;
  margin-left: 34px;
}

.user-block .register {
  padding-left: 23px;
  margin-left: 11px;
}

.user-block .login::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-login.png") no-repeat;
}

.user-block .login:hover,
.user-block .register:hover {
  color: #ee3643;
}

.user-block .login:hover::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 17px;
  background: url("../img/icon-login-hover.png") no-repeat;
}

.user-block .login:active,
.user-block .register:active {
  opacity: 0.3;
}

.main-header-bottom {
  background-color: #3d546e;
}

.main-header-bottom ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header-bottom li {
  font-size: 17px;
  line-height: 17px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 31px;
  padding-right: 30px;
}

.main-header-bottom li:first-child {
  margin-left: 20px;
}

.main-header-bottom li:hover {
  background: #293449;
}

.main-header-bottom li:active {
  opacity: 0.5;
  background: #1d2739;
}

.main-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.promo-block {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 55px;
  color: #ffffff;
}

.promo-left,
.promo-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-left {
  width: 620px;
}

.promo-right {
  width: 300px;
}

.promo-item {
  padding: 21px 24px 22px;
  width: 300px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.2857;
}

.promo-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.promo-item.stuff {
  position: relative;
  background-color: #ffbf47;
}

.promo-item.tools {
  position: relative;
  background-color: #3bbce3;
}

.promo-item.equipment {
  position: relative;
  background-color: #dc91d8;
}

.promo-item.discount {
  position: relative;
  background-color: #8ed78f;
}

.promo-item.delivery {
  position: relative;
  background-color: #ffc047;
}

.promo-item.stuff::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 213px;
  width: 44px;
  height: 65px;
  background: url("../img/paint-pot.png") no-repeat;
}

.promo-item.tools::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 197px;
  width: 75px;
  height: 61px;
  background: url("../img/drill.png") no-repeat;
}

.promo-item.equipment::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 191px;
  width: 78px;
  height: 62px;
  background: url("../img/tractor.png") no-repeat;
}

.promo-item.discount::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 196px;
  width: 59px;
  height: 72px;
  background: url("../img/basket.png") no-repeat;
}

.promo-item.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background: url("../img/car.png") no-repeat;
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 12px;
}

.promo-item .promo {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.promo-item .promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item .promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-slider {
  display: flex;
  width: 620px;
  height: 265px;
  position: relative;
}

.promo-slide h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: -6px;
  left: 25px;
  z-index: 7;
}

.promo-slide p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 25px;
  z-index: 7;
}

.promo-slide .in-catalog {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  top: 205px;
  left: 25px;
  z-index: 10;
  padding-top: 10px;
  padding-left: 50px;
  color: #ffffff;
  width: 146px;
  height: 27px;
  border-radius: 3px;
  background-color: #ee3643;
}

.promo-slider .in-catalog:hover {
  background-color: #ca2c37;
}

.promo-slider .in-catalog:active {
  background-color: #ba2731;
}

.promo-slide img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.promo-slider input {
  display: none;
}

.promo-slide:last-child {
  display: none;
}

.popular {
  margin-bottom: 25px;
}

.popular-title {
  display: flex;
  background-color: #f9f5f0;
}

.popular-title h2 {
  font-family: "Cuprum", "Arial", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #3d546e;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 28px;
}

.popular-title .btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding-top: 10px;
  width: 253px;
  height: 28px;
  margin-top: 22px;
  border-radius: 3px;
  background-color: #ff5357;
}

.popular-title .catal {
  margin-left: 372px;
}

.popular-title .bran {
  margin-left: 269px;
}

.popular-items {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-family: "PT Sans", "Arial", serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  width: 218px;
  min-height: 313px;
  border: 1px solid #EAEAEA;
  margin-top: 20px;
}

.sorting-items .catalog-item {
  margin-bottom: 20px;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5)
}

.flag-new::before {
  content: "";
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:59px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
  background: url("../img/new-flag.png") no-repeat;
}

.bosch-cover {
  display: none;
}

.catalog-item .bosch-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10
}

.bosch-cover .buy,
.bosch-cover .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:3 px;
}

.bosch-cover .buy {
  position: relative;
}

.bosch-cover .buy:hover {
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
  background-color: #5fbb2d;
}

.bosch-cover .buy:active {
  border: 3px solid #518534;
  background-color: #518534;
}

.bosch-cover .buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
  background: url("../img/icon-basket.png") no-repeat;
  opacity: 0.3;
}

.bosch-cover .buy:hover::before {
  opacity: 1.0;
}

.bosch-cover .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.bosch-cover .bookmark:hover {
  border: 3px solid #32425c;
}

.bosch-cover .bookmark:active {
  color: #32425c;
  border: 3px solid #32425c;
  opacity: 0.3;
}

.catalog-item .bosch-cover {
  display:none;
}

.catalog-item:hover .bosch-cover {
  display:block;
}

.catalog-item .bosch {
  width: 216px;
  height: 170px;
}
.catalog-item .bosch img {
  max-width: 100%;
}

.sorting-items .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item h3 {
  font-family: "PT Sans", "Arial", serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  min-height: 40px;
  padding:0 25px;
  margin-top: 7px;
  margin-bottom: 10px;
}

.catalog-item b {
  display: block;
  min-height: 18px;
  color: #999999;
  text-decoration: line-through;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 5px;
}

.catalog-item .commodity {
  font-family: "PT Sans", "Arial", serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  display: block;
  position:relative;
  width: 80px;
  margin-left: 42px;
  margin-top: 6px;
  margin-bottom: 19px;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #ff5357;
}

.catalog-item .commodity:after{
  content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ff5357;
}

.catalog-item:last-child {
  margin-right: 0;
}

.brand {
  margin-bottom: 85px;
}

.brand-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-item {
  text-align: center;
  line-height: 143px;
  width: 218px;
  border: 1px solid #EAEAEA;
  margin-right: 20px;
  margin-top: 20px;
}

.brand .popular-title h2 {
  padding-top: 1px;
}

.brand-item img {
  display: inline-block;
  vertical-align: middle;
}

.brand-item:nth-child(4n) {
  margin-right: 0;
}

.brand-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brand-item:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brand-item img:active {
  opacity: 0.3;
}

.service {
  background-color: #f4f7f9;
  min-height: 520px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.service-title {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.service-title h2 {
  font-family: "Cuprum", "Arial", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  padding-top: 65px;
}

.service-title p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-slider {
  position: relative;
  display: flex;
  width: 950px;
  height: 285px;
  margin: 0 auto;
  padding: 0;
}

.service-slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.service-slider-controls {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 185px;
  margin-top: 8px;
}

.service-slider-controls label {
  display: block;
  font-family: "Cuprum", "Arial", serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
  width: 218px;
  height: 47px;
  padding-left: 22px;
  padding-top: 15px;
  margin: 1px 0;
  background: #32425c;
  cursor:pointer;
}

.service-slider-controls label:hover {
  background: #293449;
}

.service-slider-controls::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 231px;
  width: 10px;
  height: 272px;
  background: url("../img/service-slider-shadow.png") no-repeat;
}

.service-slider-slides {
  width: 620px;
  height: 285px;
}

#btn-3:checked ~ .service-slider-controls label[for="btn-3"],
#btn-4:checked ~ .service-slider-controls label[for="btn-4"],
#btn-5:checked ~ .service-slider-controls label[for="btn-5"] {
  color: #3d546e;
  background: #ffffff;
}

.service-slide{
  position: absolute;
  top: 0;
  left: 320px;
  width: 65%;
  height: 100%;
  overflow: hidden;
}

.slide-text h2 {
  font-family: "Cuprum", "Arial", serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #3d546e;
  margin-top: 10px;
}

.slide-text p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-slide:nth-child(1) {
  height: 285px;
  background-image: url('../img/car+shad.png');
  background-repeat: no-repeat;
  background-position: 100% 33px;
}

.service-slide:nth-child(2) {
  background-image: url('../img/medal+shad.png');
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.service-slide:nth-child(3) {
  background-image: url('../img/credit+shad.png');
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.slide-text a {
  position: absolute;
  top: 165px;
  left: 0px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 146px;
  height: 25px;
  border-radius: 3px;
  background-color: #ff5357;
  padding-top: 10px;
  padding-left: 50px;
}

.service-slide {
    display:none;
}

#btn-3:checked ~ .service-slider-slides .service-slide:nth-child(1) {
    display: block;
}
#btn-4:checked ~ .service-slider-slides .service-slide:nth-child(2) {
    display: block;
}
#btn-5:checked ~ .service-slider-slides .service-slide:nth-child(3) {
    display: block;
}


.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.index-content-left {
  width: 540px;
  position: relative;
}

.index-content-title {
  font-family: "Cuprum", "Arial", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 10px;
}

.index-content-left p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 10px;
}

.index-content-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-content-left li {
  font-family: "Cuprum", "Arial", serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  padding: 10px 36px;
}

.index-content-left li:first-child {
  padding-top: 0px;
}

.index-content-left .btn {
  position: absolute;
  top: 340px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 179px;
  height: 28px;
  padding-top: 10px;
  padding-left: 42px;
  border-radius: 3px;
  background-color: #ff5357;
}

.index-content-right {
  width: 300px;
  position: relative;
}

.index-content-right p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
}

.index-content-right .btn {
  position: absolute;
  top: 340px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 236px;
  height: 28px;
  padding-top: 10px;
  padding-left: 64px;
  border-radius: 3px;
  background-color: #ff5357;
}

.main-footer {
  margin-top: 150px;
  outline: 2px solid #FFDD00;
}

.main-footer-top {
  background-color: #3d546e;
}

.mft-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  width: 380px;
}

.index-logo-footer {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: white;
  width: 140px;
  height: 30px;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.index-logo-footer a {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-top-left p {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-top-right {

  width: 550px;
}

.footer-navigation-top ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-top a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #f1f5f7;
}

.mfb-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-navigation-bottom ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-navigation-bottom a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #ffd180;
}

.main-footer-bottom {
  background-color: #33445b;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 234px;
}

.footer-social {
  width: 150px;
}

.social-btn {
  width: 41px;
  height: 41px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  border-radius: 50%;
  background-color: #212a3a;
}

.connect {
  font-size: 16px;
  line-height: 18px;
  width: 150px;
}

.connect p {
  color: #ffffff;
}

.connect a {
  color: #ffd180;
  text-decoration: none;
}

.working {
  width: 140px;
  text-align: center;
}

.working p {
  color: #ffffff;
}

.working a {
  color: #ffd180;
  text-decoration: none;
}


/*Страница КАТАЛОГ*/

.basket-active {
  background-color: #ee3643;
}

.user-block-active {
  flex-wrap: wrap;
}

.user-block .login-inclusion {
  font-size: 21px;
  width: 193px;
  height: 45px;
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.user-block .exit {
  font-size: 0;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
}

.my-room {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-room a {
  font-size: 16px;
  line-height: 1.125;
  color: #32425c;
  text-decoration: underline;
  padding: 0 20px;
}

.breadcrumbs-catalog {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.breadcrumbs-catalog li {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
  padding-right: 40px;
}

.breadcrumbs-catalog a {
  text-decoration: none;
  color: #000000;
}

.perforators-title {
  background-color: #f2f6f8;
  margin: 0;
  padding: 0;
}

.perforators-title h1 {
  font-family: "Cuprum", "Arial", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #3d546e;
}

.filter-sorting-wrapper {
  display: flex;
}

.filter {
  width: 220px;
}

.filter-title {
  background-color: #f7f3ec;
}

.filter p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filter-price {
  width: 220px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.fiter-type {
  font-family: "PT Sans", "Arial", serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  border: none;
}

.filter-range-wrapper {
  width: 220px;
}

.filter-range {
  height: 41px;
  border-radius: 5px;
  background: #f7f3ec;
}

.filter-range .scale {
  height: 2px;
  background: #d7dcde;
}

.filter-range .bar {
  width: 82%;
  height: 2px;
  background: #00ca74;
}

.filter-range .handle {
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #d4d1cb;
}

.filter-range .toggle-min {
  left: 20px;
}

.filter-range .toggle-max {
  left: 160px;
}

.filter-interval {
  font-size: 0;
}

.filter-interval label {
  font-size: 17px;
  width: 50%;
}

.filter-interval input {
  font-family: "PT Sans", "Arial", serif;
  font-size: 17px;
  line-height: 18px;
  width: 75px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.max-price {
  text-align: right;
}

.filter-brand {
  width: 220px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.check-brand {
  display: none;
}

.check-brand + label {
  line-height: 20px;
  cursor: pointer;
}

.filter-brand label {
  font-family: "PT Sans", "Arial", serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-current {
  width: 220px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-current input[type="radio"] {
  display: none;
}

.filter-current label {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 20px;
  cursor: pointer;
}

.filter-button {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  width: 140px;
  height: 38px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.sorting {
  width: 700px;
}

.sorting-title {
  background-color: #f7f3ec;
}

.sorting-title p,
.sorting-title a {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-title a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sorting-title .active {
  text-decoration: none;
  color: #ee3643;
  border-bottom: none;
}

.sorting-items {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.paginator {
  display: flex;
}

.paginator ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.paginator li,
.paginator .pag-next {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  list-style: none;
  width: 37px;
  height: 26px;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
}

.paginator a {
  text-decoration: none;
  color: #000000;
}

.paginator .pag-next {
  width: 138px;
  color: #000000;
}

.paginator .pag-active {
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.info {
  background-color: #f2f6f8;
}

.info h2 {
  font-family: "Cuprum", "Arial", serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.info p {
  font-family: "PT Sans", "Arial", serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
}
